{% extends 'base.html' %}

{% block content %}
    <h1 class="my-4">
        <small>Delete Comment</small>
        <hr>
    </h1>

    <form method="post">
        {% csrf_token %}

        <h2>Are you sure you want to delete your comment?</h2>
        <div class="alert alert-warning" role="alert">
            {{ object.content }}
        </div>
        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
            <a href="{% url 'post-detail' object.post_id %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
{% endblock  %}