
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <div class="container">
    <a class="navbar-brand" href="{% url 'blog-home' %}"><span class="fas fa-blog"></span> PyBLog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
        aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navb" class="navbar-collapse collapse hide">
        <ul class="navbar-nav">

            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Page 1</a>ß
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Page 2</a>
            </li> -->
        </ul>

        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post-create' %}"><span class="fas fa-file-signature"></span> Create</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-user-circle"></span> {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'user-profile' %}"><span class="fas fa-user-edit"></span> Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}"><span class="fas fa-key"></span> Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}"><span class="fas fa-user"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>