{% extends 'base.html' %}

{% block content %}

    {% if not posts  %}
        <h4>No post yet...</h4>
    {% else %}
        {% for post in posts  %}
            {{ user }}
            <div class="card mb-4">
                <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
                <div class="card-body">
                    <div class="media">
                        <img class="mr-3  rounded-circle" width="64" height="64" src="{{ post.author.profile.image.url }}">
                        <div class="media-body align-self-center">
                            <h5>{{ post.author }}</h5>
                            <p class="text-secondary">Posted on {{ post.date_posted|date:"F d, Y" }}</p>
                        </div>
                    </div>

                    <h2 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    {% if post.content|length > 255 %}
                        <p class="card-text">{{ post.content|safe|slice:":255" }}...</p>
                        <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More &rarr;</a>
                    {% else %}
                       <p class="card-text">{{ post.content|safe }}</p>
                    {% endif %}
                </div>

            </div>
        {% endfor %}
    {% endif %}

{% endblock  %}