{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="my-4">
        <small>Delete Post</small>
        <hr>
    </h1>

    <form method="post">
        {% csrf_token %}

        <h2>Are you sure you want to delete the form {{ object.title }}</h2>

        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
            <a href="{% url 'post-detail' object.id  %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
{% endblock  %}