{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Title -->
<h1 class="mt-4">{{ object.title }}</h1>

<!-- Author -->
<p class="lead">
    by
    <a href="#">{{ object.author }}</a>
</p>

<hr>

<!-- Date/Time -->
<p>Posted on {{ object.date_posted|date:"F d, Y" }}</p>

<hr>

<!-- Preview Image -->
<!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

<hr>

<!-- Post Content -->
<p class="lead">
    {{ object.content|safe }}
</p>

<hr>

{% if user.is_authenticated %}
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endif %}

<!-- Single Comment -->
{% if comments  %}
    {% for comment in comments  %}
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="{{ comment.user.profile.image.url }}" height="64" width="64" alt="">
            <div class="media-body">
                <h5 class="mt-0">
                    {{ comment.user }} 
                    <small class="text-muted">{{ comment.date_created|naturaltime }}</small>
                    {% if comment.user == user %}
                        <a href="{% url 'delete-comment' comment.id %}" class="btn btn-outline-danger btn-sm">Remove</a>
                    {% endif %}
                </h5>
                {{ comment.content }}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>There is no comment(s)</p>
{% endif %}



{% endblock  %}