{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="my-4">
    <small>Login</small>
    <hr>
</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        {{ form|crispy }}
    </div>

    <hr>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Change Password</button>
    </div>
</form>
{% endblock  %}