{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- <h1 class="my-4">
        <small>User Profile</small>
        <hr>
    </h1> -->

    <div class="media">
        <img class="mr-3  rounded-circle" width="150" height="150" src="{{ user.profile.image.url }}">
        <div class="media-body align-self-center">
            <h5>{{ user.username }}</h5>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>

    <hr>
    <h5>Profile Info:</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group" >
            {{ user_update_form|crispy }}
            {{ profile_update_form|crispy }}
        </div>

        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
    </form>
{% endblock  %}