{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="my-4">
        <small>Registration:</small>
        <hr>
    </h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            {{ form|crispy }}
        </div>

        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Sign Up</button>
            or
            <small class="text-muted">
                Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </form>
{% endblock  %}