{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Django Exercise 1</h1>
    <p class="lead">This is a simple application that will allow you to sign in, sing up, and logout.</p>
    <hr class="my-4">
    <p class="lead">
        {% if user.is_authenticated  %}
        <a class="btn btn-warning btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
        <a class="btn btn-success btn-lg" href="{% url 'register' %}" role="button">Sign Up</a>
        {% endif %}
    </p>
</div>
{% endblock  %}